.project-list li {
  width: 300px;
  border: 1px solid black;
  border-radius: 15px; 
  font-size: 14px
}

.project--img{
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.project--description{
  padding: 10px;
}

.project--technology{
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
